{% extends 'base.html' %}
{% load crispy_forms_filters %}

<!DOCTYPE html>
<html lang="en">
{% block header %}
    <h1>{% block title %}Contact Us{% endblock %}</h1>
{% endblock %}
<body>
{% block content %}
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    <<!--Contact form-->
    <div class="container">
        <div class="row">
            <div style="margin:80px">
                <h1>Contact us directly if you have any questions</h1>
                <p>
                    Please write your full name, email address, and a message below if you have any questions.
                    One of our staff members will be happy to contact you directly and answer your questions as soon as
                    possible.
                </p>
                {% load crispy_forms_tags %}
                <div class="col-md-8 card mb-4  mt-3 ">
                    <div class="card-body">
                        <h3>Contact Us</h3>
                        <form method="post" style="margin-top: 1.3em;">
                            {{ contact_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>