{% extends 'home/base.html' %}

{% block header %}
    <h1>{% block title %}Games Forum{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% block sidebar %} {% include 'home/sidebar.html' %} {% endblock sidebar %}
    <div class="container">
        <div class="card-body">
            <div class="head-forum">
                <h5>Threads: {{ count }}</h5>
                <form class="create-form" method="POST" action="{% url 'add_forum' %}">
                    {% csrf_token %}
                    <button class="btn btn-success">- Create Thread -</button>
                </form>
            </div>
            <div class="car box container">
                <div id="form-cards" class="card mb-4">
                    <div id="comment-container" class="card-body">
                        {% for forum in forums %}
                            {% load crispy_forms_tags %}
                            <div class="comment-block">
                                <a href='{{ forum.link }}'><h3>{{ forum.topic }}</h3></a>
                                <div class="card-body container">
                                    <div class="post-box">
                                        <div class="post-item">
                                            <p> By: {{ forum.name }} <br> {{ forum.email }}</p>
                                            {{ forum.description }}
                                            <br>
                                        </div>
                                    </div>
                                    <h4>Comments</h4>
                                    <div class="comment-box">
                                        {% for discuss in discussions %}
                                            {% for objs in discuss %}
                                                <div class="each-comment">
                                                    {% if objs.forum == forum %}
                                                        <p>By: {{ user.username }}</p>
                                                        <div class="forum-describe">
                                                            {{ objs.discuss }}
                                                        </div>
                                                        <br>
                                                        <hr>
                                                        </div>
                                                    {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    <form method="POST" action="{% url 'add_discussion' %}">
                                        {% csrf_token %}
                                        <button class="btn btn-success">
                                            Add Comment
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="gameInfo"></div>
        </div>
    </div>
{% endblock %}
