{% extends 'home/base.html' %}
{% load static %}

{% block header %}
    <h1>{% block title %}Games Index{% endblock %}</h1>
{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <script type="text/javascript" src="{% static api.js %}"></script>
</head>
<div>
    {% block content %}
        {% block sidebar %} {% include 'home/sidebar.html' %} {% endblock sidebar %}
        <!--Games directory page-->
        <div class="container">
            <div class="row">
                <div>
                    <h2 class="text-center">Games Index</h2>
                    <br>
                    <p>
                        Welcome to the games page. Here you can view all the board games known to man... and then some.
                        Were constantly expanding and adding new games, so please feel free to reach out with game
                        suggestions that you think we should add! We're more than happy to build our community and
                        grow our games catalog!
                        <br>
                        <br>
                        <br>
                        <strong>
                            Below is an example of a games page that is coming soon. Each tile will be linked to a page
                            with more information about each board game.
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <!--Creates photo tiles of games-->
        <div class="row row-cols-1 row-cols-md-2 g-4" id="gameCards">
            <div class="col">
                <div class="card">
                    <a href="{% url 'Game View' %}"><img
                            src="https://cf.geekdo-images.com/yLZJCVLlIx4c7eJEWUNJ7w__opengraph/img/d5aVUcak3R6QOHz5y-fvQdc8pwU=/fit-in/1200x630/filters:strip_icc()/pic4458123.jpg"
                            class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <a href="{% url 'Game View' %}"><h5 class="card-title">WingSpan</h5></a>
                        <p class="card-text">Wingspan is a competitive, medium-weight, card-driven, engine-building
                            board game from Stonemaier Games. You are bird enthusiasts—researchers, bird watchers,
                            ornithologists, and collectors—seeking to discover and attract the best birds to your
                            network of wildlife preserves.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <a href="{% url 'Game View' %}"><img
                            src="https://cf.geekdo-images.com/1COY3oeK9aN2_XNimKaNww__itemrep/img/cAOvicFEw8eQs6D9b2G4E7MTp00=/fit-in/246x300/filters:strip_icc()/pic3033330.jpg"
                            class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <a href="{% url 'Game View' %}"><h5 class="card-title">Deception</h5></a>
                        <p class="card-text">Deception: Set as a detective investigation scene, in Deception players
                            find themselves in a scenario of intrigue and murder, deduction and deception. Players take on
                            the roles of investigators attempting to solve a murder case, but one of the investigators is
                            actually the killer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="{% url 'Game View' %}"><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZz21AJFzfrhecPm3erBSekWFTR6MQrbcpmA&usqp=CAU"
                            class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <a href="{% url 'Game View' %}"><h5 class="card-title">Munchkin</h5></a>
                        <p class="card-text">Munchkin is a dedicated deck card game by Steve Jackson Games, written by
                            Steve Jackson and illustrated by John Kovalic. It is a humorous take on role-playing games,
                            based on the concept of munchkins.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="{% url 'Game View' %}"><img
                            src="https://external-preview.redd.it/RvsIWCQoP581zMjp11OYHUHY5T6qNZXazsPemGUjNFU.jpg?width=640&crop=smart&auto=webp&s=1c67e55b62758230716b839b93187bdb4e235b3c"
                            class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <a href="{% url 'Game View' %}"><h5 class="card-title">Catan</h5></a>
                        <p class="card-text">Catan, previously known as The Settlers of Catan or simply Settlers, is a
                            multiplayer board game designed by Klaus Teuber. It was first published in 1995 in Germany
                            by Franckh-Kosmos Verlag as Die Siedler von Catan.</p>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    {% block js %}
        <script src={% static 'api.js' %}></script>
    {% endblock %}
