{% load static %}

<!DOCTYPE html>
<html lang="en">
<body>
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Id</th>
            <th scope="col">Description</th>
            <th scope="col">Year Published</th>
            <th scope="col">Max Players</th>
        </tr>
        </thead>
        <tbody id="game-table">

        </tbody>
    </table>
{% endblock %}
{% block js %}
    <script src={% static 'api.js' %}></script>
{% endblock %}
</body>
</html>