{% load static %}
{% block content %}
<body>
    <div class="container">
        <div class="row">
            <table class="table is-fullwidth is-striped is-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Year Published</th>
                    <th>Max Players</th>
                </tr>
                </thead>
                <tbody id="game-table"></tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block js %}
<script src = {% static 'api.js' %} ></script>
{% endblock %}
</body>