{% block sidebar %}

    <style>
        .card {
            box-shadow: 0 16px 48px #E3E7EB;
        }

    </style>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">Events</h5>
            <div class="card-body">
                <p class="card-text"> Every now and then we host virtual and on-site events to let all board game
                    aficionados meet and discuss the latest and greatest board games! Click below to find the date,
                    time, and location of our next event!</p>
                <a href="#"
                   class="btn btn-danger">B&G Events ----></a>
            </div>
        </div>
    </div>

{% endblock sidebar %}